<style>
  .add-to-cart-container {
    display: flex;
    margin-top: 20px;
  }

  button.add-to-cart {
    margin: 0;
  }

  @media screen and (max-width: 992px) {
    button.add-to-cart {
      flex-grow: 1;
      flex-shrink: 0;
    }
  }

</style>
<div class="add-to-cart-container">
  <div class="secondlyInput quantity"> 
    <button id="decreaseQuantity" onclick="modifyCart(-1)" disabled>-</button>
    <span id="cartQuantity"><%= [null, undefined].includes(stock) || stock > 0? 1 : 0 %></span>
    <button id="increaseQuantity" onclick="modifyCart(1)">+</button>
  </div>
  <% if ([null, undefined].includes(stock) || stock > 0) { %>
    <button class="primary add-to-cart" onclick="addProdToCart()" %>>Agregar al carrito</button>
  <% } else { %> 
    <button class="primary add-to-cart" disabled>Agotado</button>
  <% } %> 
</div>

<script>
  var variantId = <%= variantIndex || 'undefined'%>;
  var maxStock = <%= stock || 9 %>;
  productQuantity = 1
  var hasVariants = <%= hasVariants || false %>
  function modifyCart(modify) {
    productQuantity += modify
    $('#decreaseQuantity').attr("disabled", productQuantity == 1);

    $('#cartQuantity').text(productQuantity)
  }

  function addProdToCart() {
    if (hasVariants && !variantId) {
      alert('Elegí una variante primero y luego tocá "Agregar Al Carrito"');
    } else {
      if (hasVariants && (maxStock !== undefined && maxStock !== null) && productQuantity > maxStock) {
        alert('Solo quedan ' + maxStock + ' unidades en stock. Disminuí la cantidad y luego tocá "Agregar Al Carrito"');
      } else {
        fetchApi('/api/cart', {
          params: { 
            productId: '<%= product._id %>',
            quantity: productQuantity,
            variantId: variantId,
            _csrf: '<%= csrfToken %>'
          },
          success: function (data) {
            window.location.href = '/carrito'
          }
        })
      }
    }
  }
</script>