<%- include('../partials/store-head.ejs') %>
<%- include('../partials/breadcrumb.ejs', { pages: [{ label: 'Carrito' }] }) %>
<%# styles %>
<style>
  .cart__error {
    color: red;
    font-weight: bold;
    background-image: url('/statics/assets/alert.svg');
    background-repeat: no-repeat;
    background-size: contain;
    padding-left: 40px;
    display: inline;
  }

  .cart__item-grid {
    display: grid;
    grid-template-columns: auto 1fr 1fr 1fr;
    grid-gap: 16px;
    align-items: center;
  }

  .cart__item-grid .quantity-label {
    font-weight: bold;
  }

  .cart__item-grid .unit-price-label {
    font-weight: bold;
    grid-column: 3;
  }

  .cart__item-grid .price {
    margin-bottom: 0;
  }

  @media screen and (max-width: 767px) {
    .cart__item-grid .price {
      grid-column: 2/3;
    }
  }

  .cart__item-grid .line {
    grid-column: 1 / -1;
    border-bottom: 1px solid lightgray;
  }
  
  .cart__item {
    display: flex;
    align-items: center;
    padding-right: 30px;
    margin-bottom: 35px;
    overflow: hidden;
    align-items: start;
    border-top: 1px solid lightgray;
  }

  .cart__thumbnail {
    background-size: cover;
    background-position: center;
    width: 100px;
    height: 100px;
    border-radius: 4px;
    grid-column: 1;
  }

  .checkout-button {
    grid-column: 1;
    grid-column: 1 / 3;
    
  }

  .cart__total {
    font-weight: bold;
    margin-top: 30px;
  }

  .cart__details {
    flex-grow: 1;
  }

  form {
    display: inline;
  }

  button.primary.spacing {
    margin-top: 31px;
    margin-bottom: 50px;
  }

  .item-separator {
    display: none;
  }

  .coupon {
    margin-top: 16px;
    margin-bottom: 0;
  }
  
  .coupon-button {
    color: #5f9061;
    font-weight: bold;
    cursor: pointer;
  }
  
  .apply-coupon {
    display: none;
    align-items: center;
  }

  .apply-coupon button {
    border: none;
    background-color: transparent;
    color: #5f9061;
    font-weight: bold;
  }

  .apply-coupon .validatable-input {
    padding-bottom: 0;
    flex-grow: 1;
  }

  .close-apply-coupon {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 16px;
    color: inherit;
    transition: color 0.3s;
  }

  .close-apply-coupon:hover {
    color: #5f9061;
  }

  @media screen and (max-width: 767px) {
    .cart__item-grid {
      grid-template-columns: auto 1fr auto;
      grid-auto-flow: dense;
      grid-gap: 0 8px;
    }

    .coupon { 
      padding-bottom: 8px;
    }

    .cart__thumbnail {
      grid-row: span 2;
      align-self: baseline;
    }

    .title {
      grid-column: span 2;
    }

    .cart__item-grid .quantity-label {
      display: none;
    }

    .cart__item-grid .unit-price-label {
      display: none;
    }

    .item-separator {
      display: block;
      margin-bottom: 20px;
      grid-column: 1 / -1;
    }

    .checkout-button button {
      width: 100%;
    }
  }

  #remove-coupon {
    color: #5f9061;
    background-color: transparent;
    border: none;
    font-weight: bold;
  }

  .discounted {
    color: darkgrey;
    text-decoration: line-through;
  }

  .validatable-input.coupon {
    margin: 0;
  }
</style>

<%# content %>
<% var error = false %>
<% if (cart && cart.length > 0) { %>
  <h1 style="margin-bottom: 0.6em;">En tu carrito</h1>
  <div class="cart__item-grid">
    <div class="unit-price-label">Precio unitario</div>
    <div class="quantity-label">Cantidad</div>
    <div class="line"></div>
    <% for (let cartItem of cart) { %>
      <div class="item-separator"></div>
      <div class="cart__thumbnail" <%- cartItem.product.images?.length > 0? `style="background-image: url('${cartItem.product.images[0].thumbSrc}');"` : '' %>></div>
      <div class="title">
        <a href="/productos/<%= cartItem.product.handle %>"><%= cartItem.product.title %></a><br>
        <% if (cartItem.variantId) { %><%= cartItem.product.variants[cartItem.variantId - 1].values?.join(', ') %><% } %>
      </div>
      <div class="price">
        <b>$ <%= cartItem.product.totalPrice(cartItem.variantId) %></b>
        </div>
      <div class="quantity-container">
        <% if (cartItem.quantity > cartItem.product.stock) { %>
          <% error = true %>
          <% if (cartItem.product.stock == 0) { %>
            <p class="cart__error">Se agotó el stock.</p>
          <% } else { %>
            <p class="cart__error">Solo queda<%= cartItem.product.stock > 1? 'n' : '' %> <%= cartItem.product.stock %> en stock.</p>
          <% } %>
        <% } %>
        <div class="secondlyInput quantity"> 
          <button onclick="modifyCart('<%= cartItem.product._id %>', <%= cartItem.variantId || 'undefined' %>, -1)">-</button>
          <%= cartItem.quantity %>
          <button onclick="modifyCart('<%= cartItem.product._id %>', <%= cartItem.variantId || 'undefined' %>, 1)" <%= cartItem.product.stock <= cartItem.quantity? 'disabled' : '' %>>+</button>
        </div>
      </div>
      <div class="item-separator"></div>
    <% } %>
    <div class="line"></div>
  </div>
  <p class="cart__total">Sub-total: <span id="total" class="<% if (coupon) { %>discounted<% } %>">$<%= itemsPrice %></span>
    <% if (coupon) { %>
      $<%= coupon.percentage ? itemsPrice * (1 - (coupon.percentage / 100)) : Math.max(0, itemsPrice - coupon.amount) %>
    <% } %>
    <% if (coupon) { %>
      <p><b><%= coupon?.code %></b><% if (coupon.description) { %> / <%= coupon?.description %><% } %> <button id="remove-coupon">Remover</button></p>
    <% } %>
  <div class="checkout-button">
    <a href="/carrito/checkout">
      <button class="primary" style="margin-top: 0;" <%= error? 'disabled' : ' ' %>>Continuar la Compra</button>
    </a>
  </div>
  <% if (!coupon) { %>
    <div class="coupon">
      <div class="coupon-button" onclick="$(event.target).hide(); $('.apply-coupon').css('display', 'flex');">+ Agregar cupón</div>
      <div class="apply-coupon">
        <div class="close-apply-coupon" onclick="$('.apply-coupon').hide();$('.coupon-button').show();">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-lg" viewBox="0 0 16 16">
            <path d="M1.293 1.293a1 1 0 0 1 1.414 0L8 6.586l5.293-5.293a1 1 0 1 1 1.414 1.414L9.414 8l5.293 5.293a1 1 0 0 1-1.414 1.414L8 9.414l-5.293 5.293a1 1 0 0 1-1.414-1.414L6.586 8 1.293 2.707a1 1 0 0 1 0-1.414z"/>
          </svg>
        </div>
        <%- include('../partials/validatable-input.ejs', { label: 'Cupón', name: 'coupon', button: { text: 'Aplicar', class: 'apply-coupon' } }) %>
      </div>
    </div>
  <% } %>

<% }  else { %>
  <div class="emptyContainer">
    <img class="empty" src="/statics/assets/empty-cart.svg" alt="">
    <p>Tu carrito está <strong>Vacío</strong>.<br>Agrega algun producto para comenzar.</p>
    <a href="/">
      <button class="primary spacing">
        Volver al inicio
      </button>
    </a>
  </div>
<% } %>

<%# scripts %>
<script>
  function modifyCart(productId, variantId, quantity) {
    fetchApi('/api/cart', {
      params: { 
        productId: productId,
        quantity: quantity,
        variantId,
        _csrf: '<%= csrfToken %>'
      },
      success: function (data) {
        window.location.reload()
      }
    })
  }

  $('button#remove-coupon').click(function (event) {
    fetchApi('/api/cart', {
      params: { 
        couponCode: '---BORRAR---',
        _csrf: '<%= csrfToken %>'
      },
      success: function (data) {
        if (!data.error) {
          window.location.reload()
        } else {
          alert('No se pudo remover el cupón')
        }
      }
      })
  })

  $('.apply-coupon button').click(function (event) {
    const input = $('.apply-coupon input')
    const button = $(event.target)
    if (input.val()) {
      button.text('Enviando...')
      fetchApi('/api/cart', {
        params: { 
          couponCode: input.val(),
          _csrf: '<%= csrfToken %>'
        },
        success: function (data) {
          if (!data.error) {
            window.location.reload()
          } else {
            button.text('Aplicar')
            alert(data.error)
          }
        }
      })
    }
  })

</script>
  
<%- include('../partials/store-tail.ejs') %>