<%- include('../partials/store-head.ejs') %>
<style>
  .password-reset-grid {
    grid-template-columns: 1fr 1fr;
  }

  .main-action {
    justify-self: start;
  }

  @media screen and (max-width: 992px) {
    .password-reset-grid {
      grid-template-columns: 1fr;
    }

    .main-action {
      justify-self: stretch;
    }
  }
</style>
<%- include('../partials/breadcrumb.ejs', { pages: [{label: 'Ingresar', link: '/cuenta/ingresar'}, { label: 'Restablecer' }] }) %>
<h1>Restablece tu contraseña</h1>
<div class="errorMessage"></div>
<div class="std-grid password-reset-grid">
  <input type="hidden" id="pass-reset-token" value="<%= passResetToken %>">
  <%- include('../partials/validatable-input.ejs', { 
    label: 'Nueva contraseña',
    name: 'password',
    type: 'password'
  }) %>
  <button class="primary main-action first-column no-margin statefull"  onclick="resetPassword()">
    Resetear contraseña
  </button>
  <div class="first-column">¿Recordaste tu constraseña? <a href="/cuenta/ingresar">Ingresa</a></div>
</div>

<script>
  function resetPassword() {
    const password = $('#password').val()
    const passResetToken = $('#pass-reset-token').val()

    setButtonState({ loading: 'Un momento...' })
    fetchApi('/api/account/reset-password', {
      params: { 
        passResetToken,
        password,
        _csrf: '<%= csrfToken %>'
      },
      success: function (data) {
        setButtonState({ 
          success: 'Conraseña restablecida', 
          callback: function() {
            window.location.href = `/cuenta/ingresar?email=${data.email}`
          }
        })
      },
      executeOnError: function () {
        setButtonState({ default: true })
      }
    })
  }

  $('.validatable-input input').keydown(event => {
    $(event.target).parent().parent().removeClass('error')
  })

  $('.validatable-input input').on('keypress', event => {
    if(event.which == 13) resetPassword()
  })
</script>
<%- include('../partials/store-tail.ejs') %>