<%- include('../partials/store-head.ejs') %>
<style>
  .request-password-reset-grid {
    grid-template-columns: 1fr 1fr;
  }

  .main-action {
    justify-self: start;
  }

  @media screen and (max-width: 992px) {
    .request-password-reset-grid {
      grid-template-columns: 1fr;
    }

    .main-action {
      justify-self: stretch;
    }
  }
</style>
<%- include('../partials/breadcrumb.ejs', { pages: [{label: 'Ingresar', link: '/cuenta/ingresar'}, { label: 'Restablecer' }] }) %>
<h1>Restablece tu contraseña</h1>
<div class="errorMessage"></div>
<div class="std-grid request-password-reset-grid">
  <%- include('../partials/validatable-input.ejs', { label: 'Email' }) %> 
  <div>Te enviaremos un email con un link para restablecerla.</div>
  <button class="primary main-action first-column no-margin statefull" onclick="requestPasswordReset()">
    Enviar Email
  </button>
  <div class="first-column">¿Recordaste tu constraseña? <a href="/cuenta/ingresar">Ingresa</a></div>
</div>

<script>
  function requestPasswordReset() {
    const email = $('#email').val()

    setButtonState({ loading: 'Un momento...' })
    fetchApi('/api/account/request-password-reset', {
      params: { 
        email,
        _csrf: '<%= csrfToken %>'
      },
      success: function (data) {
        setButtonState({ 
          success: 'Email enviado'
        })
      },
      executeOnError: function () {
        setButtonState({ default: true })
      }
    })
  }

  $('.validatable-input input').keydown(event => {
    $(event.target).parent().parent().removeClass('error')
  })

  $('.validatable-input input').on('keypress', event => {
    if(event.which == 13) requestPasswordReset()
  })
</script>
<%- include('../partials/store-tail.ejs') %>